doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Checkout
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/styles/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/site.min.css")
		link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
		script(type="text/javascript" src="https://js.stripe.com/v2/")
		style.
			#register div.loader {
				position: absolute;
				right: 10px;
				top: 20px;
			}
			.row img, .navbar-right img {
				width: 19px;
				border-radius: 63px;
				padding: 0;
				height: 19px;
				margin-right: 12px;
			}
		script.
			var key = !{JSON.stringify(stripeApiKey)};
			Stripe.setPublishableKey(key);
			
	body: #register.checkout
		.head: .logo
			a(href='/')
				img(src="images/iq_logo.jpg")
				| Opportunity
				span.gtext IQ

		div.card-info
			.intro
				.analysis Opportunity IQ
				small Single License
			.error=error
			.cards
				if !cards
					p No Cards Stored
				else
					for card in cards
						form(method="post", action="register" class="checkoutform #{card.id}")
							input(type="hidden" name="analysis" value=analysis)
							input(type="hidden" name="checkout" value='true')
							input(type="hidden" name="last4" value=card.last4)
							input(type="hidden" name="savedCard" value="true")
							.info-block.saved-card.payment-form
								.selected-card.none: i.fa.fa-check-circle
								.chosen-card: input(type="checkbox" checked="true").none
								if user
									h3 #{user.name.first} #{user.name.last}
									.row.one
										.col-sm-8
											small
												strong Card Number
											.card XXXX XXXX XXXX &nbsp;
												span=card.last4 || 4342
										.col-sm-4
											small
												strong CVC
											br
											.margin-top.cvc XXX
									.row
										.col-sm-8
											small
												strong Expiration Date
											.expiration=card.exp_month + ' - ' + card.exp_year
											.expiration
										.col-sm-4
											small
												strong Billing Zip
											.zip: input(type="text" name="zip" placeholder="XXXXX" class="form-control")
									.row
										.col-xs-12
											br
											small
												strong Coupon
											input(name='coupon', placeholder='Enter Coupon Code').form-control.coupon
											.loader.none: img(src="/images/ajax-loader.gif")
				form(method="post", action="register" class="checkoutform newcardform")
					input(type="hidden" name="analysis" value=analysis)
					input(type="hidden" name="checkout" value='true')
					.info-block.payment-form
						.selected-card.none: i.fa.fa-check-circle
						span.payment-errors
						.chosen-card
							input.none(type='checkbox', checked='true')
						if user
							h3 #{user.name.first} #{user.name.last}
						.row.one
							.col-sm-8
								small
									strong Card Number
								.card
									input.form-control(type='text', name='number', size='20', data-stripe='number', placeholder='XXXX XXXX XXXX XXXX')
							.col-sm-4
								small
									strong CVC
								br
								.margin-top.cvc
									input.form-control(data-stripe='cvc', name='cvc', placeholder='XXX')
						.row
							.col-sm-8
								small
									strong Expiration Date
								.expiration
									select.form-control.date(data-stripe='exp-month')
									select.form-control.year(data-stripe='exp-year')

							.col-sm-4
								small
									strong Billing Zip
								.zip
									input#zip.form-control(data-stripe='zip', name='zip', placeholder='or postal ')
						.row
							.col-xs-12
								br
								small
								strong Coupon
								input.form-control.coupon(name='coupon', placeholder='Enter Coupon Code')
								.loader.none
									img(src='/images/ajax-loader.gif')
						

			//- a(href="#").new-card
			//- 	+&nbsp;&nbsp;&nbsp;&nbsp; Use A New Card
			p You save $<span class="newPrice">130</span>.
			.error=error
			button.start-venture <i class="fa fa-lock"></i> Pay $<span class="price">49</span>

			//- .regsection.col-xs-12
				.col-sm-6.left
					.text
						.head Please Enter Your Billing Information
						.body Your information is always secure and never sold. All transactions are processed in accordance with the API’s highest standards of data integrity and security.
				.col-sm-6.right
					i.fa.fa-lock
					| &nbsp;&nbsp;Secure
					.errors
						if error
							=error
					.payment-form
						span.payment-errors

						.form-row
							label: span Card Number
							img(src='images/cards.png', id='cards')
							br
							input(type="text" size="20" data-stripe="number").form-control

						.form-row.expiration
							.labels
								label: span Expiration
								label.cvc: span CVC
							.form-inline
								select(data-stripe="exp-month").form-control.date
								select(data-stripe="exp-year").form-control.year
								input(type="text" size="5" data-stripe="cvc").form-control.cvcinput
						.form-row
							label: span Billing ZIP
							br
							input(data-stripe='zip', placeholder='or postal code if not in the USA').form-control
							input(type='hidden', name='analysis', value=analysis)
						.form-row
							label: span Coupon
							br
							input(name='coupon', placeholder='Enter Coupon Code').form-control.coupon
							.loader.none: img(src="/images/ajax-loader.gif")
					.terms
						input(type='checkbox')
						| &nbsp;&nbsp;&nbsp;I have read&nbsp;
						span: a(href='tos') Terms of Service
						//- |&nbsp; and &nbsp;
						//- span: a(href='/privacy') Privacy Policy
					button.createaccount.start-venture(type="submit") <i class="fa fa-lock"></i> Pay $50
						
				
					
style #none{display:none;color:red;margin-bottom:5px;}#payment-form{display: inline;}
script(src="js/lib/jquery/jquery-2.1.0.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
script(src='js/register.js')

style.
	.start-venture{color:white;}
	#cards{float:right;}
	.form-row {margin-top: 10px;margin-bottom:10px;}
	#register div.loader {position: absolute;right: 11px;top: 32px;}

block js
	//- Only focus the field after the shake animation is complete
	if messages && messages.error.length
		script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
	else
		script try { document.getElementById('email').focus(); } catch(e) {};