doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Print Report
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/styles/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/site.min.css")
		script(src='/js/lib/jquery/jquery-1.10.2.js')
		link(rel="stylesheet", href="/styles/print.css")
			


	body: #login.print
		.head
			.text FINAL REPORT
			.logo
				a(href="/")
					img(src="images/iq_logo.jpg")
					| Opportunity
					span.gtext IQ
		.main-content
			.first-page
				img(src="http://opiq-stage.herokuapp.com/pdfimg/vert-logo.png")
				.analysis-header=analysis
				br
				.analysis-subtitle Opportunity Analysis
				.date #{moment().format('MMMM d, YYYY')}
			#report
				.header
					.content-header: .t: span.venture
						.bob=analysis
					input(type="hidden" name="percentComplete" id="percentComplete" value="0")
				.innerbody
					.stripe
						.text Summary - Overall Opportunity Score
						.box-score=main_total + '%'
					.charts#overall-table
						-var total = [];
						each cat in categories
							each c in cat
								if typeof c.answer !== 'undefined' 
									- total.push(c.answer)
								
						table.table
							thead
								tr
									th: div Analysis Score
									th: div
										span Needs Improvement
										span.right Excellent
									th: div: span Percent
						table.table
							tr.overall-wrap
								td: div
									span.circle
									span.t OVERALL OPPORTUNITY
								td: div: .bar: .bar-complete(percent=main_total, style="width:#{main_total}%") 50
								td: div: .percent: .num: span #{main_total}%
					each category in categories.cats
						if cat_totals[category] > 0
							.charts(id=category.split(' ').join('').replace(/\//, '-'))
								table.table
									tr.category-wrap(stat=category.split(' ').join('').replace(/\//, '-'))
										td.category: div
											span.circle
											span.t=category.toUpperCase()
										td: div: .bar(percent=cat_totals[category]): .bar-complete(style="width:#{cat_totals[category]}%") #{cat_totals[category]}
										td: div: .percent: .num: span #{Math.round(cat_totals[category])}%
									each page in categories[category]
										if page && page.answer > 0
											tr.page-wrap(stat=category.split(' ').join('').replace(/\//, '-'), id=page._id)
												td.page: div
													.connected
													span.circle
													span.t=page.name.toUpperCase()
												td: div: .bar: .bar-complete(percent=page.answer style="width:#{page.answer * 20}%") #{page.answer}
												td: div: .percent: .num: span #{page.answer * 20}%
			.analysis= analysis	
			each answer in answers
				-var page = _.findWhere(pages, {name : answer.page})
				.content-holder
					.content-conent
						.content-header: .t: span.name=answer.category.toUpperCase()+ ': ' + answer.page
						- var main_word_length = 30
						.inner-content
							.section#keyprinciple
								.header
									.icon
										i.fa.fa-lightbulb-o
									.text Key Principle
								.body
									.t!=page['Key Principle']
							.section#definition
								.header
									.icon
										span.glyphicon.glyphicon-book
									.text Definition
								.body
									.t!=page.Definition
							.section#whythismatters
								.header
									.icon
										span.glyphicon.glyphicon-flag
									.text Why This Matters
								.body
									.t
										div!=page['Why This Matters']
							.section
								.header
									.icon
										i.fa.fa-superscript
									.text
										|Show Your Work (shared)
								.body: textarea(disabled)=(answer.work)		

						
					#sidebar
						.question
							| ANSWER
							-var ans = _.findWhere(answers, {'page' : page.name})
							-var ans = ans ? Number(ans.answer) : null
							.answer.answer1(set= ans === 1 ? 'true' : 'false')
								span
									i.fa.fa-check.none(answer='1')
								.body: .t=page.answer1
							.answer.answer2(set= ans === 2 ? 'true' : 'false')
								span
									i.fa.fa-check.none(answer='2')
								.body: .t=page.answer2
							.answer.answer3(set= ans === 3 ? 'true' : 'false')
								span
									i.fa.fa-check.none(answer='3')
								.body: .t=page.answer3
							.answer.answer4(set= ans === 4 ? 'true' : 'false')
								span
									i.fa.fa-check.none(answer='4')
								.body: .t=page.answer4
							.answer.answer5(set= ans === 5 ? 'true' : 'false')
								span
									i.fa.fa-check.none(answer='5')
								.body: .t=page.answer5

						.how-you-answered.sb-head.sidebar-how-you-answered
							.header.green
								span(style="text-align: center;")
									i.fa.fa-tasks
								span
									|How You Answered
							.body
								
								.top
									span Needs Improvement
									span Excellent
									span.float-right Percentile
									
								.body
									-var total = [];
									-var obj = {};
									each cat in categories
										each c in cat
											if typeof c.answer !== 'undefined' 
												- total.push(c.answer)
												- obj[ c.name ] = c.answer
									.overall
										.bars OPPORTUNITY SCORE
											.bar(percent=main_total): .bar-complete(style="width:" + main_total + "%;")
										.percentages: .num: span= (Math.round(main_total * 10) / 10) + '%'

									.category-score
										-var percent = _.pluck(categories[page.category], 'answer')
										.bars
											.t=page.category.toUpperCase() +  ' ANALYSIS SCORE'
											.bar(percent=cat_totals[page.category]): .bar-complete(style="width:" + cat_totals[page.category] + "%;")
										.percentages: .num: span= (Math.round(cat_totals[page.category] * 10) / 10) + '%'

									.page-score
										.bars
											.t=page.name.toUpperCase() +  ' SCORE'
											.bar(percent=page.answer): .bar-complete(style="width:" + (answer.answer * 20) + "%;")
										.percentages: .num: span= (answer.answer * 20) +'%'
						
			.last-page
				img(src="http://opiq-stage.herokuapp.com/pdfimg/vert-logo-green.png")
				.analysis-subtitle Smart Analysis. Smart Business.
				.link OPPORTUNITYIQ.COM
form(action="pdf" method="post")
script(src="js/print-pdf.js")
	

